version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: ${LG_POSTGRES_USER}
      POSTGRES_PASSWORD: ${LG_POSTGRES_PASSWORD}
      POSTGRES_DB: ${LG_POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      db_net:
        ipv4_address: 172.28.0.2

  webserver:
    build:
      context: ../webserver
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      LG_POSTGRES_HOST: db
      LG_POSTGRES_PORT: 5432
      LG_POSTGRES_USER: ${LG_POSTGRES_USER}
      LG_POSTGRES_PASSWORD: ${LG_POSTGRES_PASSWORD}
      LG_POSTGRES_DB: ${LG_POSTGRES_DB}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
    depends_on:
      - db
    networks:
      db_net:
        ipv4_address: 172.28.0.3

volumes:
  db_data:

networks:
  db_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16